/******** General styling for Portfolio Page *********/
.portfolio_container {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.mySwiper {
    max-width: 80%;
    height: 100%;
    
}
.portfolio_card {
    width: 40%;
    padding-left: 20%;
    
}

.portfolio_item_image {
    width: 130px;
    height: 130px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 1rem;
    border: 0.4rem solid #2c2c6c;
}

.portfolio_item {
    background: lightblue;
    width: 400px;
    height: 300px;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;   
    
}

.portfolio_item_name {
    font-size: 1.8rem;
    font-weight: 500;
}

.portfolio_item_button {
    border: none;
    font-size: 1rem;
    color: #FFF;
    background-color: #4070F4;
    border-radius: 1rem;
    margin: 1rem;
    text-decoration: none;
}

.portfolio_item_button:hover {
    background: #4e7af4;
    
}


/**************MEDIA QUERIES***********/

/************* Small Devices ***********/

@media only screen and (max-width: 768px) {
    .mySwiper {
        max-width: 100%;
    }
    .portfolio_item {
        height: 100%;
        max-width: 100%;
        padding: 2rem;
        text-align: center;
        
    }
    .portfolio_card {
        padding-right: 20%;
    }


}

/************* Medium Devices ***********/

@media only screen and (min-width: 768px) and (max-width:1080px ){
/* General Styling Applies */
.portfolio_item_button {
    border: none;
    width: fit-content;
    font-size: 1rem;
    color: #FFF;
    background-color: #4070F4;
    border-radius: 1rem;
    margin: 1rem;
    text-decoration: none;
}

}

/************* Large Devices ***********/
@media only screen and (min-width: 1080px) {
    
    .portfolio_container {
        display: flex;
        margin-top: 10%;
        flex-direction: column;
    }   
    .mySwiper {
        max-width: 80%;
        height: 100%;
    }
    .portfolio_card {
        width: 40%;
        padding-left: 30%;
    }
    .portfolio_item {
        background: lightblue;
        width: 600px;
        height: 500px;
        text-align: center;
        padding: 2.4rem;
        border-radius: 2rem;
        user-select: none;   
    }

    .portfolio_item_name {
        font-size: 3.2rem;
        font-weight: 500;
    }
        
    .portfolio_item_button {
        border: none;
        font-size: 2.1rem;
        color: #FFF;
        background-color: #4070F4;
        border-radius: 2rem;
        margin: 2rem;
        text-decoration: none;
    }
}
    


    
